* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #444;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

select {
    padding: 10px;
    background: #111;
    color: #fff;
    border: 1px solid #555;
}

#exerciseList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.exercise-card {
    border: 1px solid #444;
    padding: 15px;
    cursor: pointer;
    width: 220px;
    transition: 0.2s;
}

.exercise-card:hover {
    background-color: #111;
}

#exerciseDetails {
    border-top: 1px solid #444;
    padding: 30px;
}

.image-placeholder {
    margin-top: 15px;
    width: 500px;
    height: 400px;
    border: 1px dashed #777;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    color: #777;
    background-color: white;
}

.hidden {
    display: none;
}
